<div id="table">
  <table>
    <caption>{{'Weapons' | translate}}</caption>
    <tr>
      <th>{{'name' | translate}}</th>
      <th>{{'rpm' | translate}}</th>
      <th>{{'range' | translate}}</th>
      <th>{{'ammunition' | translate}}</th>
      <th>{{'category' | translate}}</th>
      <th>{{'type' | translate}}</th>
      <th>{{'kills' | translate}}</th>
    </tr>
    <tr *ngFor="let weapon of weapons">
      <td><a href='/weaponInfo/{{weapon.name}}'>{{weapon.name}}</a></td>
      <td>{{weapon.rpm}}</td>
      <td>{{weapon.range}}</td>
      <td>{{weapon.ammunition}}</td>
      <td>{{weapon.category}}</td>
      <td>{{weapon.type}}</td>
      <td>{{weapon.kills}}</td>
    </tr>
  </table>
</div>
<button (click)="returnToMyStats()">{{'Return to stats' | translate}}</button>
