<div id="table">
  <table>
    <caption>{{'Weapons' | translate}}</caption>
    <tr>
      <th>ячейка</th>
      <th>ячейка</th>
      <th>ячейка</th>
      <th>ячейка</th>
      <th>ячейка</th>
      <th>ячейка</th>
      <th>ячейка</th>
    </tr>
    <tr>
      <td>ячейка</td>
      <td>ячейка</td>
      <td>ячейка</td>
      <td>ячейка</td>
      <td>ячейка</td>
      <td>ячейка</td>
      <td>ячейка</td>
    </tr>
    <tr>
      <td>ячейка</td>
      <td>ячейка</td>
      <td>ячейка</td>
      <td>ячейка</td>
      <td>ячейка</td>
      <td>ячейка</td>
      <td>ячейка</td>
    </tr>
    <tr>
      <td>ячейка</td>
      <td>ячейка</td>
      <td>ячейка</td>
      <td>ячейка</td>
      <td>ячейка</td>
      <td>ячейка</td>
      <td>ячейка</td>
    </tr>
    <tr>
      <td>ячейка</td>
      <td>ячейка</td>
      <td>ячейка</td>
      <td>ячейка</td>
      <td>ячейка</td>
      <td>ячейка</td>
      <td>ячейка</td>
    </tr>
  </table>
</div>
<button>{{'Return to stats' | translate}}</button>
