<router-outlet></router-outlet>
<form class="form-container">
  <div class="form-title"><h2>{{'SignIn' | translate}}</h2></div>
  <div class="form-title">{{'Nickname' | translate}}</div>
  <input [(ngModel)]="person.Nickname" minlength="3" pattern='' required class="form-field" type="text" name="Nickname" /><br />
  <div class="form-title">{{'Password' | translate}}</div>
  <input [(ngModel)]="person.password" minlength="6" required class="form-field" type="password" name="password" /><br />
  <div style="color:red;">{{error_message}}</div>
  <div class="submit-container">
    <a href="/registration" class="submit-button" style="margin-right: 10%">{{'SignUp' | translate}}</a>
    <button (click)="checkPerson()" class="submit-button" type="submit">{{'Submit' | translate}}</button>
  </div>
</form>

