<div class="main">
  <div class="users" style="width: 95%">
    <form action="" class="search">
      <input #search (change)="searchUsers()" type="search" name="" placeholder="{{'search' | translate}}" class="input" />
      <input type="submit" name="" value="" class="submit" />
    </form>
    <div id="table">
      <table class="table">
        <tr *ngFor="let user of tempUsers">
          <td class="td">{{user}}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="info">
    <i style="font-size: 30px;">{{person.nickName}}
      <input style="margin-left: 5%" type="checkbox" id="privacy">
      <label style="font-size: 20px;" for="privacy">{{'Private' | translate}}</label>
      <button #returnBack style="width: 15%;margin-left: 5%">{{'Return to stats' | translate}}</button>
      <button #exit style="width: 15%;margin-left: 5%">{{'exit' | translate}}</button>
    </i>
    <hr>
    <div class="buttons">
      <button >{{'Top' | translate}}</button>
      <button >{{'Weapons' | translate}}</button>
      <button >{{'Gadgets' | translate}}</button>
      <button >{{'Specializations' | translate}}</button>
    </div>
    <div class="stats">
      <div class="halfStats">
        <i style="font-size: 23px;">{{'Statistics' | translate}}</i>
        <div class="circles">
          <canvas #canvas style="width: 100%"></canvas>
          <img style="width: 100%" src="assets/r34.png">
        </div>
        <i style="font-size: 23px;">{{'Score' | translate}}: 432433</i>
        <table style="margin-top: -8%;font-size: 23px;" class="classes" align="center">
          <tr>
            <td>{{medPoints}}</td>
            <td><img src="assets/support.png" style="width: 40%"/></td>
            <td><canvas #med style="height: 10%;width: 100%"></canvas></td>
          </tr>
          <tr>
            <td>{{sniperPoints}}</td>
            <td><img src="assets/recon.png" style="width: 40%"/></td>
            <td><canvas #sniper style="height: 10%;width: 100%"></canvas></td>
          </tr>
          <tr>
            <td>{{assaultPoints}}</td>
            <td><img src="assets/assault.png" style="width: 40%"/></td>
            <td><canvas #assault style="height: 10%;width: 100%"></canvas></td>
          </tr>
          <tr>
            <td>{{engPoints}}</td>
            <td><img src="assets/engineer.png" style="width: 40%"/></td>
            <td><canvas #eng style="height: 10%;width: 100%"></canvas></td>
          </tr>
        </table>
      </div>
      <div class="halfStats">
        <i style="font-size: 23px;">{{'Top weapon' | translate}} : AEK - 971, Kills: 687</i>
        <img src="assets/aek971.png" style="width: 90%"/>
        <hr color="#3b3b3b">
        <div class="stats" style="font-size: 18px" align="center">
          <div>
            {{'W/L' | translate}} {{'ratio' | translate}}: {{wlRatio}}
            <table class="ratio" align="center">
              <tr>
                <td>{{'Wins' | translate}}</td>
                <td>{{'Losses' | translate}}</td>
              </tr>
              <tr>
                <td style="color: green">{{wins}}</td>
                <td style="color: red">{{losses}}</td>
              </tr>
            </table>
          </div>
          <div>
            {{'K/D' | translate}} {{'ratio' | translate}}: {{kdRatio}}
            <table class="ratio" align="center">
              <tr>
                <td>{{'Kills' | translate}}</td>
                <td>{{'Deaths' | translate}}</td>
              </tr>
              <tr>
                <td style="color: green">{{kills}}</td>
                <td style="color: red">{{deaths}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
