<div id="table">
  <table>
    <tr>
      <td>ячейка</td>
    </tr>
    <tr>
      <td>ячейка</td>
    </tr>
    <tr>
      <td>ячейка</td>
    </tr>
    <tr>
      <td>ячейка</td>
    </tr>
    <tr>
      <td>ячейка</td>
    </tr>
    <tr>
      <td>ячейка</td>
    </tr>
    <tr>
      <td>ячейка</td>
    </tr>
    <tr>
      <td>ячейка</td>
    </tr>
    <tr>
      <td>ячейка</td>
    </tr>
    <tr>
      <td>ячейка</td>
    </tr>
  </table>
</div>
<button>{{'Return to stats' | translate}}</button>
